doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='main.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')
.image
  img(src='./12/Headaer and Promo.png', alt='', srcset='')
  h2 Dreamshare
  p1
    | log in 
    button.btn.btn-outline-light(type='button') Sign up
  h1
    | &amp;nbsp&amp;nbsp&amp;nbsp&amp;nbspSHARE YOUR 
    br
    | HOLIDAY DREAM
  p2 &amp;nbsp&amp;nbsp&amp;nbsp&amp;nbsp&amp;nbspAnd find the perfect partner to fullfill it
  p3
    button.btn.btn-danger(type='button') Find your holiday partner
p7
  b How Dreamsshare works?
.image1
  img(src='./12/Step 1.png', alt='', srcset='')
  img(src='./12/Step 2.png', alt='')
  img(src='./12/Step 3.png', alt='')
  p4
    button.btn.btn-danger(type='button') step1
    br
    h3
      | Sed leo enim, 
      br
      | condimemtum
    h6
      | Quique  libero,dictum non turpis 
      br
      | in,luctus semper lorem.Donec rhoncus 
      br
      | a leo sit amet facilisis
  p5
    button.btn.btn-danger(type='button') step2
    br
    h3 Morbi velit risus
    h6
      | Nulla venenatis tempor dui in molestie. 
      br
      | Nulla quis dictum purus, sit amet 
      br
      | porttitor est.
  p6
    button.btn.btn-danger(type='button') step3
    br
    h3
      | Sed leo enim, 
      br
      | condimemtum
    h6
      | Quique  libero,dictum non turpis 
      br
      | in,luctus semper lorem.Donec rhoncus 
      br
      | a leo sit amet facilisis
p7
  b  Meet a partner for your best holiday
.ava
  .avatar
    img(src='./12/Avatar.png', alt='', srcset='')
    p8
      br
      b Bradley Hunter
      br
    p9
      | Based in Chicago.I love playing 
      br
      |  tennis and loud music
  .avatar1
    img(src='./12/Avatar (1).png', alt='', srcset='')
    p8
      br
      b Marie Bannett 
      br
    p9
      | Curently living in Colorado.Lover of 
      br
      |  art, lanquaqes and trvelling
  .avatar2
    img(src='./12/Avatar (2).png', alt='')
    p8
      br
      b Diana Wells 
      br
    p9
      | Living in Athens,Greese.I pove blacl 
      br
      | and white classics, chillout music 
      br
      | and green tea
  .avatar3
    img(src='./12/Avatar (3).png', alt='')
    p8
      br
      b Christofer Pierce 
      br
    p9
      | Star Wars fantastic.I have a 
      br
      | persistent enthusiams to create 
      br
      |  new things
p10
  button1.btn.btn-outline-danger(type='button') See other partners
br
p7
  b Discover holiday activity ideas
br
.holiday
  img(src='./12/Sport.png', alt='', style='margin-top: 20px;')
  p11
    b Sport and Activis
  img(src='./12/Healath.png', alt='', style='margin-top: 20px;')
  p12
    b Wellness and Health
  img(src='./12/Extreme.png', alt='', style='margin-top: 20px;')
  p13
    b
      | Extreme Sport 
      br
      |  and Expedition
  img(src='./12/Games.png', alt='', style='margin-top: 20px;')
  p14
    b Games
  img(src='./12/Culture.png', alt='', style='margin-left: 10px; margin-top: 20px;')
  p15
    b Culture and Education
  img(src='./12/Culture Copy.png', alt='', style='margin-left:-5px; margin-top: 20px; ')
  p16
    b Enjomet and Relaxation
  img(src='./12/Games Copy.png', alt='', style='margin-top: 20px;')
  p17
    b Traveling
p7
  b Create your holiday activity
br
br
br
br
br
p18 Hi!Whats are your holiday interest
br
br
p19
  input(type='search', name='', id='')
  button.btn1.btn-danger Search partner
.text
  main
    b Company
  main1
    b Partners
  main2 About
  main3 Contact
  main4 Press
  main5 Blog
  main6 Terms and Privacy
  main7 Help
.im
  img(src='./12/Designed by.png', alt='')
  br
  img(src='./12/Bitmap.png', alt='')